@import url(https://fonts.bunny.net/css?family=courier-prime:400);
@import url(https://fonts.bunny.net/css?family=bodoni-moda:400);
@import url(https://fonts.bunny.net/css?family=roboto:400);
@import "tailwindcss";

:root {
  --monospace: 'Courier Prime', monospace;
  --bodoni-400: 'Bodoni Moda', serif;
  --roboto-400: 'Roboto', sans-serif;
  --off-white: #F5F5F5;
  --white: #FFFFFF;
  --neon-yellow: #FFFF22;
  --aqua: #23A094;
  --light-aqua: #2AA38F;
  --tan: #F5F0E0;
  --black: #121212;
  --light-red: #F9706B;
  --gray: #595959;
}

* 
{
  box-sizing: border-box;
}



/* body
{
  min-height: 100vh;
  background-color: red;
  overflow-x: hidden;
} */

.img-test
{
  background: url('/frontend/public/san_francisco/image.png') no-repeat center;
  background-size: cover;
  /* background-blend-mode: lighten; */
  /* background-color: var(--warm-brown); */
  position: relative;
}

dialog::backdrop
{
  position: fixed;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.7);
}

dialog
{
  margin: auto; /* 10% from the top and centered */
}

/* Hide visually, but still appear in DOM for a11y */
.aria-invisible 
{
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px;  
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.loadingScreenText {
  animation-name: loadingScreenText;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes loadingScreenText
{
  0%
  { 
    color: var(--gray);
  }
  
  50%
  {
    color: rgb(199, 196, 196);
  }

  100%
  {
    color: var(--gray);
  }
}

@media (prefers-reduced-motion) {
  .loadingScreenText {
    animation: none;
  }
}

.speech-bubble-bottom {
	position: relative;
	background: var(--tan);
	border-radius: .4em;
}

.speech-bubble-bottom:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: var(--tan);
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

.speech-bubble-top {
	position: relative;
	background: var(--tan);
	border-radius: .4em;
}

.speech-bubble-top:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: var(--tan);
	border-top: 0;
	margin-left: -20px;
	margin-top: -20px;
}

.speech-bubble-right {
	position: absolute;
	background: var(--tan);
	border-radius: .4em;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: var(--tan);
	border-right: 0;
	margin-top: -20px;
	margin-right: -20px;
}

.speech-bubble-left {
	position: absolute;
	background: var(--tan);
	border-radius: .4em;
}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: var(--tan);
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
}