@import url(https://fonts.bunny.net/css?family=bodoni-moda:400);
@import url(https://fonts.bunny.net/css?family=roboto:400);
@import "tailwindcss";

:root {
  --bodoni-400: 'Bodoni Moda', serif;
  --roboto-400: 'Roboto', sans-serif;
  --off-white: #F5F5F5;
  --white: #FFFFFF;
  --neon-yellow: #FFFF22;
  --aqua: #23A094;
  --light-aqua: #2AA38F;
  --tan: #F5F0E0;
  --black: #121212;
  --light-red: #F9706B;
  --gray: #595959;
}

* 
{
  box-sizing: border-box;
}

@theme {
  /* 592px */
  --breakpoint-lg: 37rem; 

  /* 800px */
  --breakpoint-xl: 50rem; 

  /* 1200px */
  --breakpoint-2xl: 75rem;
}

html, body, #app, #app>div {
  height: 100%;
  background-color: var(--off-white);
}

/* Hide visually, but still appear in DOM for a11y */
.aria-invisible 
{
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px;  
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.loadingScreenText {
  animation-name: loadingScreenText;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes loadingScreenText
{
  0%
  { 
    color: var(--gray);
  }
  
  50%
  {
    color: rgb(199, 196, 196);
  }

  100%
  {
    color: var(--gray);
  }
}

@media (prefers-reduced-motion) {
  .loadingScreenText, .svgEnter, .appear {
    animation: none;
  }
}

.speech-bubble-bottom {
	position: relative;
	background: var(--tan);
	border-radius: .4em;
}

.speech-bubble-bottom:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: var(--tan);
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

.speech-bubble-top {
	position: relative;
	background: var(--tan);
	border-radius: .4em;
}

.speech-bubble-top:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: var(--tan);
	border-top: 0;
	margin-left: -20px;
	margin-top: -20px;
}

.speech-bubble-right {
	position: absolute;
	background: var(--tan);
	border-radius: .4em;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: var(--tan);
	border-right: 0;
	margin-top: -20px;
	margin-right: -20px;
}

.speech-bubble-left {
	position: absolute;
	background: var(--tan);
	border-radius: .4em;
}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: var(--tan);
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
}

.svgEnter {
  animation-name: svgEnter;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes svgEnter
{
  0%
  { 
    transform: scale(1.9);
  }
  
  50%
  {
    transform: scale(1.1);
  }

  70%
  {
    transform: scale(0.7);
  }

  100%
  {
    transform: scale(1);
  }
}

.appear {
  animation-name: appear;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease;
}

@keyframes appear
{
  0%
  { 
    opacity: 0;
  }
  
  100%
  {
    opacity: 1;
  }
}