@import url(https://fonts.bunny.net/css?family=courier-prime:400);
@import url(https://fonts.bunny.net/css?family=bodoni-moda:400);
@import url(https://fonts.bunny.net/css?family=roboto:400);
@import "tailwindcss";

:root {
  --monospace: 'Courier Prime', monospace;
  --bodoni-400: 'Bodoni Moda', serif;
  --roboto-400: 'Roboto', sans-serif;
  --off-white: #F5F5F5;
  --neon-yellow: #FFFF22;
  --aqua: #23A094;
  --tan: #F5F0E0;
  --black: #121212;
  --light-red: #F9706B;
}

* 
{
  box-sizing: border-box;
}

.img-test
{
  background: url('/frontend/public/san_francisco/image.png') no-repeat center;
  background-size: cover;
  /* background-blend-mode: lighten; */
  /* background-color: var(--warm-brown); */
  position: relative;
}